<launch>
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" type="string" value="/dev/input/js0" />
    </node>
    

    <node pkg="ros_face_apps" type="joy_face.py" name="joy_face">

    </node>

    <include file="$(find ros_face_driver)/launch/base_driver.launch">

    </include>


    
</launch>